<p>directives-parent works!</p>

<div class="flex flex-col items-center gap-4 m-4">

    <h1 class="font-semibold underline">TP directives</h1>

    <button (click)="clikk()" class="btn btn-success"> 
       
        {{ statut ? 'Masquer les détails':'Afficher les détails'}}
    
    </button>

    <p *ngIf="statut===true">{{text}}</p>

</div>

    <ul>
        <li *ngFor="let item of lesNombres; let i = index"
    [ngClass]="{'text-black-300': i >= 4,'bg-green-300': i >= 4}"
    [ngStyle]="{'color': i < 4 ? 'blue' : 'darkgreen'}"
    >
    {{ i + 1 }}
        </li>
    </ul>