<p>directives-parent works!</p>

<div class="flex flex-col items-center gap-4 m-4">

    <h1 class="font-semibold underline">TP directives</h1>

    <button (click)="clikk()" class="btn btn-success"> clique-ici </button>


    <p *ngIf="statut===true">{{text}}</p>

</div>

    <ul>
        <li *ngFor="let item of lesNombres; let i = index"
    [ngClass]="{
      'text-black-300': i >= 5,
      'bg-green-300': i >= 5
    }"
    [ngStyle]="{
      'color': i < 5 ? 'blue' : 'darkgreen'
    }"
  >
    {{ i + 1 }}
        </li>
    </ul>